* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.radio {
  display: none;
}

.control {
  padding: .45rem;
  display: inline-block;
  cursor: pointer;
}

.control-dash {
  width: 1.4rem;
  height: .45rem;
  background-color: #1782ff;
  transition: 0.3s;
}

.control:hover .control-dash {
  opacity: 0.5;
}

.control:active .control-dash {
  background-color: #a1f0bf
}

.slider {
  background-color: #ddd;
  width: 70%;
  height: 40rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.slides {
  width: 400%;
  height: 75%;
  display: flex;
}

.slide {
  width: 100%;
  transition: 1.2s;
}

#slide1 {
  transform: translateX(100%);
}

#slide3 {
  transform: translateX(-100%);
}

#slide4 {
  transform: translateX(-200%);
}

.slides .image {
  width: 100%;
  height: 100%;
}

.captions {
  height: 1.2em;
  overflow: hidden;
}

.caption {
  transition: 1.2s;
}

#caption1 {
  transform: translateY(100%);
}

#caption3 {
  transform: translateY(-100%);
}

#caption4 {
  transform: translateY(-200%);
}

#radio1:checked~.controls #control1 .control-dash {
  background-color: #34e076;
}

#radio2:checked~.controls #control2 .control-dash {
  background-color: #34e076;
}

#radio3:checked~.controls #control3 .control-dash {
  background-color: #34e076;
}

#radio4:checked~.controls #control4 .control-dash {
  background-color: #34e076;
}

#radio1:checked~.slides #slide1 {
  transform: translateX(0);
}

#radio2:checked~.slides #slide2 {
  transform: translateX(-100%);
}

#radio3:checked~.slides #slide3 {
  transform: translateX(-200%);
}

#radio4:checked~.slides #slide4 {
  transform: translateX(-300%);
}

#radio1:checked~.captions #caption1 {
  transform: translateY(0);
}

#radio2:checked~.captions #caption2 {
  transform: translateY(-100%);
}

#radio3:checked~.captions #caption3 {
  transform: translateY(-200%);
}

#radio4:checked~.captions #caption4 {
  transform: translateY(-300%);
}